body {
    font-size: 30px;
    text-align:center;
    flex-direction: column;
    justify-content: center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(30, 31, 30);
}